table {
    border-collapse: collapse;
    border-radius: 5px;
    border: 2px solid rgb(23, 6, 6);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    }

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead {
    background: linear-gradient(white, gray);
}

th,
td {
    border: 1px solid rgb(29, 24, 24);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody > tr {
    background-color: rgb(237 238 242);

}